
body {
    max-width: 100%;
    overflow-x:hidden;
    background-color: #F4F4F4;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Amaranth', sans-serif;
    font-size: 15px;
    height: fit-content;
}

body::-webkit-scrollbar {
    width: 7px;
}

body::-webkit-scrollbar-thumb {
    background: #005471;
    border-radius: 5px;
}

* {
    box-sizing: border-box;
    margin: 0;
}

nav {
    position: fixed;
    background-color: #0085D0;
    width: 100vw;
    top: 0px;
    height: 90px;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    left: 0px;
    z-index: 100;
}

.logo {
    width: 5em;
    height: 5em;
}

.contenedorLogo {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;    
}

#menu:hover ~ .menu-lateral{
    transform: translateX(50vw);
}

.menu-lateral {
    position: fixed;
    background-color: #005471;
    width: 50vw;
    height: 500px;
    left: -50vw;
    top: 90px;
    transition: .3s ease all;
}


.enlaces {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-decoration: none;
    margin-left: 10px;
    margin-top: 30px;
    font-size: 20px;
}

.enlaces::after {
    content: "";
    display: block;
    height: 3px;
    width: 0%;
    background-color: white;
    transition: .5s ease all;
}

.enlaces:hover::after{
    width: 100%;
}

.my-account {
    margin: 0;
}

#menu {
    position: fixed;
    font-size: 50px;
    color: #F4F4F4;
    left: 10px;
    top: 20px;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.contenedor-buscador {
    position: absolute;
    top: 180px;
    box-sizing: border-box;
    width: 1087px;
    height: 320px;
}

.back {
    position: relative;
    width: 100%;
    height: 100%;
}

header {
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: 90px;
}

.rectangulo {
    background-color: white;
    color: #005471;
    border-top-left-radius: 60px;
    border-bottom-left-radius: 60px;
    width: 70%;
    height: 8%;
    box-sizing: border-box;
    padding: 0px 0;
    margin: 0px;
}
    
.rentSale {
    font-size: 3em;
    margin: 0 0 0 30px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 90px;
}

.contenedor-izquierda {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.detalle {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.fotoPropiedad {
    width: 80vw;
}

.contenedor-location {
    width: 100%;
}

.location{
    display: block;
    color: #007FC6;
    font-size: 32px;
    margin: 20px 0;
    text-align: center;
}

.location-text {
    display: block;
    font-size: 24px;
    text-align: center;
    margin: 0 10px;
}

.contenedor-derecha {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.precio {
    display: flex;
    font-size: 3em;
    color: #007FC6;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.descripcionTitulo {
    text-align: left;
    font-size: 65px;
    margin: 20px 0;
}

.textoDescripcion {
    text-align: left;
    width: 80vw;
    font-size: 30px;
}

.add-favorites{
    width: 80vw;
    height: 48px;
    color: white;
    background-color: #3b5999;
    border-radius: 24px;
    font-size: 24px;
    margin: 20px;
    border: 0;
}

.detallesRelevantes {
    display: flex;
    justify-content: space-around;
    width: 100vw;
    margin-top: 20px;
}

.detallesRelevantes div h4{
    font-size: 32px;
}

.detallesRelevantes div p{
    font-size: 24px;
    text-align: center;
}

.contenedor-datos{
    display: flex;
    justify-content: space-around;
    margin-top: 0px;
}

.contenedor-contacto {
    display: flex;
}

.imagen-contacto {
    display: flex;
    flex-direction: column;
}

.imagen-contacto h3 {
    color: #F4F4F4;
    font-size: 25px;
    margin-left: 10px;
}

#vertical {
    width: 98px;
    height: 123px;
    box-sizing: border-box;
    margin-left: 10px;
    position: relative;
}

#horizontal {
    display: none;
}
.contenedor-social {
    height: 100%;
    margin-top: 10px;
}

.contenedor-datos p {
    font-size: 15px;
    margin-top: 70px;
    margin-left: 5px;
    color: #F4F4F4;
}

.social-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
}

.social-icons li{
    list-style: none;
}

.social-icons li a {
    display: block;
    position: relative;
    width: 75px;
    height: 75px;
    line-height: 75px;
    font-size: 2.25em;
    margin-bottom: 20px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    transition: .5s;
    border: 2px solid #fff;
    overflow: hidden;
}


.social-icons li a:hover {
    transform: scale(1.2);    
}

.social-icons li a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 75px;
    z-index: -1;
    transform: scale(1);
    top: 0;
    left: 0;
    transition: .5s;
}

.social-icons li a:hover::before {
    transform: scale(0);
}

.social-icons li:nth-child(1) a,
.social-icons li:nth-child(1) a:before {
    background: #3b5999;
}

.social-icons li:nth-child(2) a,
.social-icons li:nth-child(2) a:before {
    background: #e4405f;
}

.social-icons li:nth-child(1) a:hover {
    background: #fff;
    border: 2px dashed #3b5999;
    color: #3b5999;
}

.social-icons li:nth-child(2) a:hover {
    background: #fff;
    border: 2px dashed #e4405f;
    color: #e4405f;
}

footer {
    background-color: #005471;
    display: flex;
    justify-content: space-around;
    width: 100vw;
    margin-top: 0px;
    position: relative;
    margin: 0;
    top: 110px;
}

@media (min-width: 770px)  {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contenedorLogo {
        justify-content: left;
    }

    .logo {
        position: relative;
        left: 20px;
    }

    #menu {
        display: none;
    }

    .menu-lateral {
        top: 0px;
        height: 80px;
        width: 90vw;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: rgba(0, 0, 0, 0);
        left: 10vw;
    }

    .menu-lateral a {
        font-size: 25px;
        text-transform: uppercase;
    }

    #Fav {
        display: none;
    }

    header{
        width: 100vw;
    }

    .rectangulo {
        width: 20%;
        height: 8%;
    }

    main {
        flex-direction: row;
        align-items: flex-start;
    }

    .contenedor-izquierda {
        width: 40vw;
    }

    .fotoPropiedad {
        width: 38vw;
    }

    .contenedor-location {
        width: 100%;
    }

    .location{
        text-align: left;
    }

    .location-text {
        text-align: left;
    }

    .contenedor-derecha{
        width: 55vw;
    }

    .textoDescripcion {
        text-align: center;
        width: 80%;
    }

    .add-favorites {
        width: 35vw;
    }
   
    .detallesRelevantes {
        width: 100%;
    }

    .detallesRelevantes div h4{
        font-size: 48px;
    }
    
    .detallesRelevantes div p{
        font-size: 32px;
        text-align: center;
    }

    .contenedor-datos {
        width: 100%;
        justify-content: space-around;
    }

    .imagen-contacto  h3{
        position: relative;
        left: 140px;
        top: 15px;
    } 

    #vertical {
        display: none;
    }

    #horizontal {
        width: 130px;
        height: 93px;
        box-sizing: border-box;
        position: relative;  
        display: block;
    }

    .contenedor-datos p {
        font-size: 20px;
        margin-top: 70px;
        margin-left: 15px;
        width: 210px;
    }

    .social-icons {
        flex-direction: column;
        justify-content: left;
        align-items: inherit;
    }

    .social-icons li a {
        width: 50px;
        height: 50px;
        line-height: 50px;
        font-size: 1.5em;
        margin-bottom: 10px;
    }

    .social-icons li a::before {
        height: 50px;
    }

    footer {
        top: 130px;
    }  
}


