* {
    box-sizing: border-box;
}

body {
    background-color:#007FC6;
}

.contenedor-todo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}
.contenedor-todo  form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor-signup {
    width: 200px;
    height: 500px;
    background-color:#007FC6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.signup {
    font-size: 60px;
    color:#f4f4f4;
    text-align: center;
}

#user {
    font-size: 120px;
    color:#f4f4f4;
    opacity: 1;
}


#email, #password, #name, #lastname{
    width: 300px;
    height: 30px;
    border-radius: 45px;
    background-color: #f4f4f4;
    color: #5F5F5F;
    font-size: 25px;
    text-align: center;
    border: none;
    margin-top: 20px;
}

.boton-signup {
    width: 200px;
    height: 75px;
    background-color: #F19915;
    border-radius: 28px;
    color: white;
    text-align: center;
    border: none;
    margin-top: 35px;
    font-size: 37px;
}

@media (min-width:900px){
    .contenedor-todo form{
        display:flex;
        flex-direction:row;
        flex-wrap:wrap;
        justify-content: space-between;
        margin-top: 3%;
    }
    .signup{
        font-size:80px;
    }
    #user{
        font-size: 200px;
    }
    .contenedor-signup {
        width: 80%;
        height: 80%;
    }

    .boton-signup {
        justify-self: center;
        width: 330px;
        margin-bottom: 10%;
    }

    #email, #password, #name, #lastname{
        height: 50px;
        width: 350px;
    }
}

@media (min-width:1252px){

    #email, #password, #name, #lastname{
        height: 70px;
        width: 500px;
        font-size: 30px;
    }
}

@media (min-width:1674px){

    #email, #password, #name, #lastname{
        height: 90px;
        width: 600px;
        font-size: 45px;
    }

    .boton-signup {
        width: 500px;
        height: 90px;
        font-size: 45px;
    }
}
