<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie-edge">
        <script src="https://kit.fontawesome.com/0e8470df2a.js" crossorigin="anonymous"></script>
        <link href="./css/detalleProducto.css" rel="stylesheet">
        <meta charset="UTF-8">
        <title>DCRealEstate</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Amaranth&display=swap" rel="stylesheet">
        <title>DCRealEstate</title>
    </head>
    <body>
        <nav>
            <i id="menu" class="fas fa-bars"></i>
            <div class= "contenedorLogo">
                <img class="logo" src="./img/logoDC.png">
            </div>
            <div class="menu-lateral">
                <a href="/home">Home</a>
                <a href="">Buy</a>
                <a href="">Rent</a>
                <a href="">Contact</a>
                <a href="">About us</a>
                <a href="/favorites"><i class="fas fa-heart" ></i><span id="Fav"> Favorites</span></a>
                <a href="login"><i class="fas fa-house-user"></i> My account</a>
            </div>
        </nav>
        <header>
            <section class="rectangulo">
                <h3 class="rentSale">Sale/Rent</h3>
            </section>    
        </header>
          
        <section class="detalle">
            <div class=detalleImagen>
                <img class="fotoPropiedad" src="./img/fotoPropiedad.png">
            </div>
            <div class="precio">
                <i class="fas fa-tags"></i>
                <h2 class="cantidadPrecio">  $999,999</h2>
            </div>
        </section>

        <section class="contenedorDescripcion">
            <h3 class="descripcionTitulo">Description</h3>
            <p class="textoDescripcion">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In eros nibh, commodo eu lobortis nec, pulvinar eget risus. Sed egestas congue pretium. Ut eget sapien vehicula, iaculis augue quis, cursus sapien.</p>
        </section>

        <section class="detallesRelevantes">
            <div class="sqft">
                <h4 class="miniTitulos">Sqft</h4>
                <p class="miniDescripcion">XX</p>
            </div>
            <div class="floors">
                <h4 class="miniTitulos">Floors</h4>
                <p class="miniDescripcion">XX</p>
            </div>
            <div class="beds">
                <h4 class="miniTitulos">Beds</h4>
                <p class="miniDescripcion">XX</p>
            </div>
            <div class="baths">
                <h4 class="miniTitulos">Baths</h4>
                <p class="miniDescripcion">XX</p>
            </div>
        </section>

    </body>
</html>