<!DOCTYPE html>
<html>
    <head>
        <script src="https://kit.fontawesome.com/0e8470df2a.js" crossorigin="anonymous"></script>
        <link href="./css/detalleProducto.css" rel="stylesheet">
        <meta charset="UTF-8">
        <title>DCRealEstate</title>
    </head>
    <body>
        <nav>
            <i id="menu" class="fas fa-bars"></i>
            <div class= "contenedorLogo">
                <img class="logo" src="./img/logoDC.png">
            </div>
        </nav>
        <header>
            <section class="rectangulo">
                <h3 class="rentSale">Sale/Rent</h3>
            </section>    
        </header>
          
        <section class="detalle">
            <div class=detalleImagen>
                <img class="fotoPropiedad" src="./img/fotoPropiedad.png">
            </div>
        </section>

        <section class="precio">
            <i class="fas fa-tags"></i>
            <h2 class="cantidadPrecio">  $999,999</h2>
        </section>

        <section class="contenedorDescripcion">
            <h3 class="descripcionTitulo">Description</h3>
            <p class="textoDescripcion">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In eros nibh, commodo eu lobortis nec, pulvinar eget risus. Sed egestas congue pretium. Ut eget sapien vehicula, iaculis augue quis, cursus sapien. Etiam nec fermentum felis, eu ultrices nulla. Nam ullamcorper et lectus eu placerat. Donec condimentum lacinia sapien, et dapibus urna sollicitudin sit amet. Aenean et turpis commodo, volutpat ipsum eget, tristique sem.</p>
        </section>

        <section class="detallesRelevantes">
            <div class="sqft">
                <h4 class="miniTitulos">Sqft</h4>
                <p class="miniDescripcion">XX</p>
            </div>
            <div class="floors">
                <h4 class="miniTitulos">Floors</h4>
                <p class="miniDescripcion">XX</p>
            </div>
            <div class="beds">
                <h4 class="miniTitulos">Beds</h4>
                <p class="miniDescripcion">XX</p>
            </div>
            <div class="baths">
                <h4 class="miniTitulos">Baths</h4>
                <p class="miniDescripcion">XX</p>
            </div>
        </section>

    </body>
</html>