<!DOCTYPE html>
<html>
    <head>
        <script src="https://kit.fontawesome.com/0e8470df2a.js" crossorigin="anonymous"></script>
        <link href="./css/favoritos.css" rel="stylesheet">
        <meta charset="UTF-8">
        <title>YourFavorites</title>
    </head>
    <body> 
        <nav>
            <i id="menu" class="fas fa-bars"></i>
            <div class= "contenedorLogo">
                <img class="logo" src="./img/logoDC.png">
            </div>
        </nav>
        <header>
            <i id="corazon" class="fas fa-heart"></i>
            <strong class="favoritos">Your Favorites</strong>
            <div class="linea"></div>
            <i class="top">Top</i>
            <div class="titulos" id="numero">#</div>
            <div class="imagen"></div>
            <i class="titulos" id="location">Location</i>
            <p class="contenido" id=direccion>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
            <i class="titulos" id="price">Price</i>
            <p class="contenido" id=precio>800 USD</p>
            <i class="titulos" id="floors">Floors:#</i>
            <i class="titulos" id="bedroom">Bedroom:#</i>
            <i class="titulos" id="bathroom">Bathroom:#</i>
            <i id="phone" class="fas fa-phone-alt"></i>
            <i id="mail" class="fas fa-envelope"></i>
            <i class="datos" id="telefono">419-452-8097</i>
            <i class="datos"id="correo">williamLCage@superrito.com</i>
            <div  class="boton" id="primero">Contact me</div>

        </header>
    </body>
</html>