
body {
    background-color: #F4F4F4;
}

nav {
    background-color: #0085D0;
    width: 100%;
    top: 0px;
    height: 180px;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    position: fixed;
    left: -5px;
}

.logo {
    width: 150px;
    height: 150px;
}

.contenedorLogo {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;    
}

#menu {
    position: fixed;
    font-size: 100px;
    color: #F4F4F4;
    left: 20px;
    top: 40px;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.contenedor-buscador {
    position: absolute;
    top: 180px;
    box-sizing: border-box;
    width: 1087px;
    height: 320px;
}

.back {
    position: relative;
    width: 100%;
    height: 100%;
}

.rectangulo {
    background-color: white;
    color: #005471;
    left: 500px;
    top: 220px;
    border-radius: 60px;
    width: 550px;
    height: 150px;
    box-sizing: border-box;
    padding: 0px 0;
    margin: 0px;
    position: fixed;
}

.rentSale {
    font-size: 80px;
    text-align: center;
    padding: 30px;
    margin: 0%;
}

.fotoPropiedad {
    top: 400px;
    width: 80%;
    display: flex;
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    left: 10%;
}

.precio {
    display: flex;
    align-items: center;
    top: 1100px;
    position: fixed;
    text-align: center;
    font-size: 80px;
    left: 22%;
    color: #007FC6;
}

.contenedorDescripcion {
    top: 1300px;
    position: fixed;
    width: 80%;
    left: 10%;
}

.descripcionTitulo {
    text-align: left;
    font-size: 65px;
    margin-bottom: 0px;

}

.textoDescripcion {
    text-align: left;
    width: 100%;
    font-size: 30px;
}

.detallesRelevantes {
    top: 1680px;
    justify-content: space-evenly;
    position: fixed;
    display: flex;
    font-size: 65px;
    width: 100%;
}

