nav {
    background-color: #0085D0;
    width: 100%;
    top: 0px;
    height: 180px;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    position: fixed;
    left: -5px;
}

.logo {
    width: 150px;
    height: 150px;
}

.contenedorLogo {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;    
}

#menu {
    position: fixed;
    font-size: 100px;
    color: #F4F4F4;
    left: 20px;
    top: 40px;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

#corazon {
    left: 90px;
    top: 230px;
    color: #0085D0 ;
    position:absolute;
    font-size:70px;
}

.favoritos{
    top:240px;
    color:#0085D0;
    font-size: 60px;
    left:200px;
    position:absolute;
    font-weight: bold;
    font-style:normal;
    width: 400px;
}

.linea{
    top:280px;
    left:630px;
    border-bottom:14px #0085D0 solid;
    width:400px;
    position:absolute;
}

.top{
    top:340px;
    color:#0085D0;
    font-size: 60px;
    left:80px;
    text-decoration:underline;
    font-style:normal;
    position:absolute;
}

.titulos{
    text-align:center;
    position:absolute;
    color:black ;
    font-size: 55px;
    font-style:normal;
    font-weight: bold;
}

.titulos#numero{
    top:470px;
    left:90px;
}

.imagen{
    position:absolute;
    width: 430px;
    height: 380px;
    background-size:contain;
    background-repeat: no-repeat;
    left:200px;
    background-position: center;
}
.imagen#uno{
    top:450px;
    background-image: url(../img/favorito1.png);
}

.titulos#location1{
    left:700px;
    top:435px;
}
.contenido{
    color:black;
    font-style: normal;
    position:absolute;
    box-sizing: border-box;
    margin: 0px;
}

.contenido#direccion1{
    left:660px;
    top: 505px;
    width:300px;
    height:180px;
    font-size:24px;
    text-align:justify;
}

.titulos#price1{
    left:750px;
    top:685px;
}

.contenido#precio1{
    left:660px;
    top: 760px;
    width:300px;
    height:60px;
    text-align: center;
    font-size: 45px;
    font-weight: bold;
}
.titulos#floors1{
    left:200px;
    top:845px;
    font-size:40px;
}

.titulos#bedroom1{
    left:423px;
    top:845px;
    font-size:40px;
}

.titulos#bathroom1{
    left:700px;
    top:845px;
    font-size:40px;
}
#phone{
    left:200px;
    top:910px;
    font-size:40px;
    position:absolute;
    color: #0085D0;
}
#mail{
    left:200px;
    top:975px;
    font-size:40px;
    position:absolute;
    color: #0085D0;
}

.datos{
    
    font-size:30px;
    position:absolute;
    color: #0085D0;
    width:420px ;
    height: 100px;
}
.datos#telefono1{
    left:260px;
    top:920px;
}
.datos#correo1{
    left:260px;
    top:985px;
}

.boton{
    position:absolute;
    color:#F4F4F4;
    background-color:#F19915;
    border-radius: 40px;
    font-size: 45px;
    font-style: normal;
    padding:15px;
    box-sizing: border-box;
    width: 240px;
    height: 85px;
    
}
.boton#primero{
    left:700px;
    top:935px;
}

hr{
    position:relative;
    top:1020px;
    margin:30px;
    border:2px solid #0085D0;
    width: 900px; 
}

.titulos#numero2{
    top:1140px;
    left:90px;
}

.imagen#dos{
    top:1095px;
    background-image: url(../img/Casa2.png);
}

.titulos#location2{
    left:700px;
    top:1080px;
}

.contenido#direccion2{
    left:660px;
    top: 1150px;
    width:300px;
    height:180px;
    font-size:24px;
    text-align:justify;
}
.titulos#price2{
    left:750px;
    top:1330px;
}

.contenido#precio2{
    left:660px;
    top: 1405px;
    width:300px;
    height:60px;
    text-align: center;
    font-size: 45px;
    font-weight: bold;
}
.titulos#floors2{
    left:200px;
    top:1490px;
    font-size:40px;
}

.titulos#bedroom2{
    left:423px;
    top:1490px;
    font-size:40px;
}

.titulos#bathroom2{
    left:700px;
    top:1490px;
    font-size:40px;
}

#phone2{
    left:200px;
    top:1555px;
    font-size:40px;
    position:absolute;
    color: #0085D0;
}
#mail2{
    left:200px;
    top:1620px;
    font-size:40px;
    position:absolute;
    color: #0085D0;
}

.datos#telefono2{
    left:260px;
    top:1565px;
}
.datos#correo2{
    left:260px;
    top:1630px;
}

.boton#segundo{
    left:700px;
    top:1580px;
}

