body {
    overflow-x: hidden;
    max-width: 100vw;
    margin: 0;
    padding: 0;
    font-family: 'Amaranth', sans-serif;
}

*{
    box-sizing: border-box;
}

body::-webkit-scrollbar {
    width: 7px;
}

body::-webkit-scrollbar-thumb {
    background: #005471;
    border-radius: 5px;
}

nav {
    position: fixed;
    background-color: #0085D0;
    width: 100vw;
    top: 0px;
    height: 90px;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    left: 0px;
    z-index: 100;
}

.logo {
    width: 5em;
    height: 5em;
}

.contenedorLogo {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;    
}

#menu {
    position: fixed;
    font-size: 50px;
    color: #F4F4F4;
    left: 10px;
    top: 20px;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

#menu:hover ~ .menu-lateral{
    transform: translateX(50vw);
}

.menu-lateral {
    position: fixed;
    background-color: #005471;
    width: 50vw;
    height: 500px;
    left: -50vw;
    top: 90px;
    transition: .3s ease all;
}


.menu-lateral a {
    display: block;
    color: white;
    text-decoration: none;
    margin-left: 10px;
    margin-top: 30px;
    font-size: 20px;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    top: 90px;
    width: 100vw;
}

#corazon {
    color: #0085D0 ;
    position:relative;
    font-size:26px;
    margin: 24px 0px;
    left: 10px;
}

.favoritos{
    color:#0085D0;
    font-size: 24px;
    position: relative;
    font-weight: bold;
    font-style:normal;
    display: inline;
    margin: 24px 0px;
}

.linea{
    border-bottom:4px #0085D0 solid;
    width:40vw;
    position: relative;
    margin: 24px 0px;
    bottom: 8px;
}

main {
    position: relative;
    top: 70px;
    display: flex;
    flex-direction: column;
}

.top{
    color:#0085D0;
    font-size: 32px;
    margin: 10px 20px;
    text-decoration: underline;
    position: relative;
}

.contenedor-imagenInfo {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.titulos{
    text-align:center;
    color:black ;
    font-size: 18px;
    font-weight: bold;
    margin: 5px;
}

.titulos#numero{
    position: relative;
    left: 17px;
}

.imagen{
    position: relative;
    width: 225px;
    height: 145px;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
}
.imagen#uno{
    background-image: url(../img/favorito1.png);
}

.info {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45vw;
    right: 10px;
}

.titulos#location1{

}
.contenido{
    color:black;
    position: relative;
    margin: 0px;
}

.contenido#direccion1{
    font-size:14px;
    text-align:justify;
}

.titulos#price1{

}

.contenido#precio1{
    text-align: center;
    font-size: 18px;
    margin: 0px;
    font-weight: bold;
}

.contenedor-datos{
    display: flex;
    justify-content: space-around;
}
.titulos#floors1{
    font-size: 18px;
}

.titulos#bedroom1{
    font-size: 18px;
}

.titulos#bathroom1{
    font-size: 18px;
}

.contenedor-contacto{
    display: flex;
    justify-content: space-around;
    position: relative;
    align-items: center;
    width: 90vw;
    left: 10vw;
    overflow: visible;
}

#phone{
    font-size:18px;
    position: relative;
    color: #0085D0;
    right: 15px;
}
#mail{
    font-size:18px;
    position: relative;
    color: #0085D0;
    right: 15px;
}

.datos{
    
    font-size:15px;
    position: relative;
    color: #0085D0;
    
}
.datos#telefono1{
}
.datos#correo1{
}

.telefono-mail{
    display: flex;
    flex-direction: column;
    overflow: visible;
}

.telefono-mail2{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: visible;
}

.boton{
    position: relative;
    color:#F4F4F4;
    background-color:#F19915;
    text-align: center;
    padding: 5px;
    border-radius: 40px;
    font-size: 18px;
    width: 127px;
    height: 30px;
    
}
.boton#primero{
}

hr{
    position:relative;
    border:2px solid #0085D0;
    width: 80vw;
    background-color: #0085D0; 
}


@media (min-width:770){
    
}

