* {
    box-sizing: border-box;
}

body {
    background-image: url('.././img/fondo-login.png');
    background-size: cover;
    font-family: 'Amaranth', sans-serif;
}

body::-webkit-scrollbar {
    width: 7px;
}

body::-webkit-scrollbar-thumb {
    background: #005471;
    border-radius: 5px;
}

.contenedor-todo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 75px;
    height: 75px;
}

.contenedor-login {
    width: 90vw;
    height: 193vw;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login {
    font-size: 72px;
    color: #007FC6;
    text-align: center;
}

#user {
    font-size: 125px;
    color: #007FC6;
    opacity: 1;
}

.login-parrafo {
    font-size: 36px;
    color: #005471;
    text-align: center;
    margin: 20px 0px;
}

#email, #password {
    width: 75vw;
    height: 15vw;
    border-radius: 30px;
    background-color: #f4f4f4;
    color: #5F5F5F;
    font-size: 36px;
    text-align: center;
    border: none;
    margin-top: 20px;
}

.boton-login {
    width: 60vw;
    height: 22vw;
    background-color: #F19915;
    border-radius: 30px;
    color: white;
    text-align: center;
    border: none;
    margin-top: 20px;
    font-size: 36px;
}

.contenedor-login form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor-forms {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

@media (min-width: 770px) {

    body {
        background-image: url('.././img/fondo-login2.png');
        background-size: cover;
    }

    .logo {
        display: none;
    }

    .contenedor-login {
        margin-top: 20px;
        width: 1020px;
        height: 670px;
    }

    .login {
        font-size:  72px;
        margin: 15px;
    }

    #user {
        font-size: 175px;
        margin: 22px;
    }

    .login-parrafo {
        font-size: 40px;
        width: 450px;
        margin: 0;
    }

    .contenedor-forms {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    #email, #password {
        width: 396px;
        height: 80px;
        margin: 28px 30px;
    }

    .boton-login {
        width: 314px;
        height: 80px;
        margin: 0;
    }
}