
    <%-include('./partials/head')%>
    <link href="./css/index.css" rel="stylesheet">
</head>
    <body>
        <%-include('./partials/nav')%>
        <header>
            <div class="contenedor-buscador">
                <form method="GET" action="/product/results">
                    <label for="search">
                        <input class="search" type="text" name="search" placeholder="Search..">
                    </label>
                    <button class="search-boton" type="submit"><i class="fas fa-search"></i></button>
                </form>
            </div>
        </header>
        <section>
            <div class="contenedor-casas">
                <img id="uno" src="./img/Casa1.png">
                <img id="dos" src="./img/Casa2.png">
                <img id="tres" src="./img/Casa1.png">
            </div>
            <div class="contenedor-casas" id="segundo">
                <img id="cuatro" src="./img/Casa1.png">
                <img id="cinco" src="./img/Casa2.png">
                <img id="seis" src="./img/Casa1.png">
            </div>
        </section>
        <%if(locals.error){
            if(error==="true"){%>
                <div class="error">
                    <p class="mensaje-error">You have already logged in</p>
                </div>
        <%}}%>
        <%-include('./partials/footer')%>
    </body>
</html>