
    <%-include('./partials/head')%>
    <link href="./css/index.css" rel="stylesheet">
</head>
    <body>
        <%-include('./partials/nav')%>
        <header>
            <form>
                <label for="search">
                    <input class="search" type="text" name="search" placeholder="     Search..">
                </label>
            </form>
            <div class="contenedor-buscador">
                <img class="back" src="./img/Back_Buscador2.png">
            </div>
        </header>
        <section>
            <div class="contenedor-casas">
                <img id="uno" src="./img/Casa1.png">
                <img id="dos" src="./img/Casa2.png">
                <img id="tres" src="./img/Casa1.png">
            </div>
            <div class="contenedor-casas" id="segundo">
                <img id="cuatro" src="./img/Casa1.png">
                <img id="cinco" src="./img/Casa2.png">
                <img id="seis" src="./img/Casa1.png">
            </div>
        </section>
        <%-include('./partials/footer')%>
    </body>
</html>