<%-include('.././partials/head')%>
        <link href="./css/addProduct.css" rel="stylesheet">
    </head>
    <body>
        <%-include('.././partials/nav')%>
    
    <main>
    <form method="POST" action="/product/add">     
        <section class="contenedorIzquierda">
            <div class=detalleImagen>
                <div class="formImagen">
                    <label for="image">
                        <input type="file" name="image" id="image" accept="image/*">
                    </label>
                </div>
            </div>
            
        </section>

    <section class="contenedorDerecho">
        <section class="rectangulo">
            <div class="saleRent">
                <input type="radio" name="category" id="sale" value="Sale">
                <label class= "sale" for="sale">Sale</label>
                <span>/</span>
                <input type="radio" name="category" id="rent" value="Rent">
                <label class="sale" for="rent">Rent</label>
            </div>
        </section>  
        <section>
            <div class="precio">
                <div>
                    <label for="price"><i class="fas fa-tags"></i>
                        <input type="text" name="price" id="price" placeholder="$Price">
                    </label>
                </div>
            </div>
        </section>

        <section class="contenedorDescripcion">
            <div>
                <label class="descripcionTitulo" for="description">Description<br>
                    <textarea name="description" id="description" placeholder="Insert the description here."></textarea>
                </label>
            </div>
        </section>
    </section>
    <div class="contenedorAbajo">
        <section class="detallesRelevantes">  
                    <div class="location">
                        <label class="miniTitulos" for="location">Location<br>
                            <input type="text" name="location" id="location" placeholder="Insert address here.">
                        </label>
                    </div>
                <div class="sqft">
                    <label class="miniTitulos" for="sqft">Sqft<br>
                        <input type="number" name="sqft" id="sqft" placeholder="##">
                    </label>
                </div>
                <div class="floors">
                    <label class="miniTitulos" for="floors">Floors<br>
                        <input type="number" name="floors" id="floors" placeholder="##">
                    </label>
                </div>
                <div class="beds">
                    <label class="miniTitulos" for="beds">Beds<br>
                        <input type="number" name="beds" id="beds" placeholder="##">
                    </label>
                </div>
                <div class="baths">
                    <label class="miniTitulos" for="baths">Baths<br>
                        <input type="number" name="baths" id="baths" placeholder="##">
                    </label>
                </div>
        </section>
    </div>
    <div>
        <button type="submit">submit</button>
    </div>
    </form>

    </main>    
        <%-include('.././partials/footer')%>
    </body>
</html>