<%-include('.././partials/head')%>
        <link href="./css/detalleProducto.css" rel="stylesheet">
    </head>
    <body>
        <%-include('.././partials/nav')%>
        <header>
            <section class="rectangulo">
                <h3 class="rentSale">Sale/Rent</h3>
            </section>    
        </header>
          
        <section class="detalle">
            <div class=detalleImagen>
                <img class="fotoPropiedad" src="./img/fotoPropiedad.png">
            </div>
            <div class="precio">
                <i class="fas fa-tags"></i>
                <h2 class="cantidadPrecio">  $999,999</h2>
            </div>
        </section>

        <section class="contenedorDescripcion">
            <h3 class="descripcionTitulo">Description</h3>
            <p class="textoDescripcion">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In eros nibh, commodo eu lobortis nec, pulvinar eget risus. Sed egestas congue pretium. Ut eget sapien vehicula, iaculis augue quis, cursus sapien.</p>
        </section>

        <section class="detallesRelevantes">
            <div class="sqft">
                <h4 class="miniTitulos">Sqft</h4>
                <p class="miniDescripcion">XX</p>
            </div>
            <div class="floors">
                <h4 class="miniTitulos">Floors</h4>
                <p class="miniDescripcion">XX</p>
            </div>
            <div class="beds">
                <h4 class="miniTitulos">Beds</h4>
                <p class="miniDescripcion">XX</p>
            </div>
            <div class="baths">
                <h4 class="miniTitulos">Baths</h4>
                <p class="miniDescripcion">XX</p>
            </div>
        </section>
        <%-include('.././partials/footer')%>
    </body>
</html>