<%-include('.././partials/head')%>
        <link href="./css/listProduct.css" rel="stylesheet"> 
    </head>
    <body> 
        <%-include('.././partials/nav')%>
        <main>
            <form class="caja-buscador">
                <input class="search" type="text" name="search" placeholder="     Search..">
            </form>
            <h2 class="top">Resultados</h2>
            <div class="contenedor-casaTotal">
                <div class="contenedor-imagenInfo">
                    <div class="imagen" id="uno"></div>
                    <div class="info">
                        <h3 class="titulos" id="location1">Location</h3>
                        <p class="contenido" id=direccion1>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                        <h3 class="titulos" id="price1">Price</h3>
                        <p class="contenido" id=precio1>800 USD</p>
                    </div>
                </div>
                <div class="contenedor-datosUno">
                    <h3 class="titulos" id="floors1">Floors:#</h3>
                    <h3 class="titulos" id="bedroom1">Bedroom:#</h3>
                    <h3 class="titulos" id="bathroom1">Bathroom:#</h3>
                </div>
                <div class="contenedor-contactoUno">
                    <div class="telefono-mail">
                        <div class="telefono-mail2">
                            <i id="phone" class="fas fa-phone-alt"></i>
                            <p class="datos" id="telefono1">419-452-8097</p>
                        </div>
                        <div class="telefono-mail2">
                            <i id="mail" class="fas fa-envelope"></i>
                            <p class="datos"id="correo1">williamLCage@superrito.com</p>
                        </div>
                    </div>
                    <div  class="boton" id="primero">Contact me</div>
                </div>
            </div>
            <hr>
            <div class="contenedor-casaTotal">
                <div class="contenedor-imagenInfo">
                    <div class="imagen" id="uno"></div>
                    <div class="info">
                        <h3 class="titulos" id="location1">Location</h3>
                        <p class="contenido" id=direccion1>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                        <h3 class="titulos" id="price1">Price</h3>
                        <p class="contenido" id=precio1>800 USD</p>
                    </div>
                </div>
                <div class="contenedor-datosUno">
                    <h3 class="titulos" id="floors1">Floors:#</h3>
                    <h3 class="titulos" id="bedroom1">Bedroom:#</h3>
                    <h3 class="titulos" id="bathroom1">Bathroom:#</h3>
                </div>
                <div class="contenedor-contactoUno">
                    <div class="telefono-mail">
                        <div class="telefono-mail2">
                            <i id="phone" class="fas fa-phone-alt"></i>
                            <p class="datos" id="telefono1">419-452-8097</p>
                        </div>
                        <div class="telefono-mail2">
                            <i id="mail" class="fas fa-envelope"></i>
                            <p class="datos"id="correo1">williamLCage@superrito.com</p>
                        </div>
                    </div>
                    <div  class="boton" id="primero">Contact me</div>
                </div>
            </div>
            <hr>
            <div class="contenedor-casaTotal">
                <div class="contenedor-imagenInfo">
                    <div class="imagen" id="uno"></div>
                    <div class="info">
                        <h3 class="titulos" id="location1">Location</h3>
                        <p class="contenido" id=direccion1>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                        <h3 class="titulos" id="price1">Price</h3>
                        <p class="contenido" id=precio1>800 USD</p>
                    </div>
                </div>
                <div class="contenedor-datosUno">
                    <h3 class="titulos" id="floors1">Floors:#</h3>
                    <h3 class="titulos" id="bedroom1">Bedroom:#</h3>
                    <h3 class="titulos" id="bathroom1">Bathroom:#</h3>
                </div>
                <div class="contenedor-contactoUno">
                    <div class="telefono-mail">
                        <div class="telefono-mail2">
                            <i id="phone" class="fas fa-phone-alt"></i>
                            <p class="datos" id="telefono1">419-452-8097</p>
                        </div>
                        <div class="telefono-mail2">
                            <i id="mail" class="fas fa-envelope"></i>
                            <p class="datos"id="correo1">williamLCage@superrito.com</p>
                        </div>
                    </div>
                    <div  class="boton" id="primero">Contact me</div>
                </div>
            </div>
        </main>
        <%-include('.././partials/footer')%>
    </body>
</html>