<footer>
    <div class="contenedor-datos">
        <div class="contenedor-contacto">
            <div class="imagen-contacto">
                <h3>Contact</h3>
                <img  src="./img/Denise1.png" id="vertical">
                <img  src="./img/Denise2.png" id="horizontal">
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        </div>
        <div class="contenedor-social">
            <ul class="social-icons">
                <li><a href="https://es-la.facebook.com/"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="https://www.instagram.com/?hl=es-la"><i class="fab fa-instagram"></i></a></li>
            </ul>
        </div>
    </div>
</footer>