<nav>
    <i id="menu" class="fas fa-bars"></i>
    <div class= "contenedorLogo">
        <img class="logo" src="./img/logoDC.png">
    </div>
    <div class="menu-lateral">
        <a href="/home">Home</a>
        <a href="">Buy</a>
        <a href="">Rent</a>
        <a href="">Contact</a>
        <a href="">About us</a>
        <a href="/favorites"><i class="fas fa-heart" ></i><span id="Fav"> Favorites</span></a>
        <a href="/login"><i class="fas fa-house-user"></i> My account</a>
    </div>
</nav>