<nav>
    <i id="menu" class="fas fa-bars"></i>
    <div class= "contenedorLogo">
        <img class="logo" src="/user/img/logoDC.png">
    </div>
    <div class="menu-lateral">
        <a class="enlaces" href="/home">Home</a>
        <a class="enlaces" href="/product">Buy</a>
        <a class="enlaces" href="/product">Rent</a>
        <a class="enlaces" href="">Contact</a>
        <a class="enlaces" href="">About us</a>
        <a class="enlaces" href="/user/favorites"><i class="fas fa-heart" ></i><span id="Fav"> Favorites</span></a>
        <%if (session.started!=true){%>
            <a class="enlaces" href="/user/login"><p class="my-account">
            <i class="fas fa-house-user"></i> My account</p></a>

        <%}else{%> 
            <a class="enlaces" href=""><p class="my-account">
                <i class="fas fa-house-user"></i> <%=session.name%></p></a> 
        <%}%>
    </div>
</nav>