<nav>
    <i id="menu" class="fas fa-bars"></i>
    <div class= "contenedorLogo">
        <img class="logo" src="./img/logoDC.png">
    </div>
    <div class="menu-lateral">
        <a class="enlaces" href="/home">Home</a>
        <a class="enlaces" href="/product">Buy</a>
        <a class="enlaces" href="/product">Rent</a>
        <a class="enlaces" href="">Contact</a>
        <a class="enlaces" href="">About us</a>
        <a class="enlaces" href="/user/favorites"><i class="fas fa-heart" ></i><span id="Fav"> Favorites</span></a>
        <a class="enlaces" href="/user/login"><i class="fas fa-house-user"></i> My account</a>
    </div>
</nav>