<%-include('.././partials/head')%>
    <link href="./css/login.css" rel="stylesheet">
</head>
<body>
    <main class="contenedor-todo">
        <div class="contenedor-login">
            <h1 class="login">Log in</h1>
            <i class="fas fa-user" id="user"></i>
            <p class="login-parrafo">Enter your email and password</p>
            <form>
                <div class="contenedor-forms">
                    <label for="email">
                        <input type="email" name="email" id="email" placeholder="Email">
                    </label>
                    <label for="email">
                        <input type="password" name="password" id="password" placeholder="Password">
                    </label>
                </div>
                <button type="submit" class="boton-login">Log in</button>
            </form>
        </div>
        <a href="/signup" class="signup">Create a new account</a>

    </main>
</body>
</html>