<%-include('.././partials/head')%>
    <link href="/user/css/login.css" rel="stylesheet">
</head>
<body>
    <main class="contenedor-todo">
        <div class="contenedor-login">
            <h1 class="login">Log in</h1>
            <div class="caja-iconos">
                <i class="fas fa-user" id="user"></i>
                <% if(locals.errors) {
                if (errors === true) { %>
                    <i class="fas fa-comment" id="dialogo"></i>
                    <div class="error">
                        <p class="mensaje-error" >Wrong email or password</p>
                    </div>
                <%}}%>
                <% if(locals.alert) {
                    if (alert === true) { %>
                        <i class="fas fa-comment" id="dialogo"></i>
                        <div class="error2">
                            <p class="mensaje-error">Please log in</p>
                        </div>
                <%}}%>
            </div>
            <p class="login-parrafo">Enter your email and password</p>
            <form method="POST" action="/user/login">
                <div class="contenedor-forms">
                        <input type="email" name="email" id="email" placeholder="Email">
                        <input type="password" name="password" id="password" placeholder="Password">
                </div>
                <div class="contenedorRecuerdame">
                    <input type="checkbox" id="remember" name="remember" value="saved">
                    <label for="remember" class="rememberLabel">Remember me</label>
                </div>
                
                <button type="submit" class="boton-login">Log in</button>
            </form>
        </div>
        <a href="/user/signup" class="signup">Create a new account</a>

    </main>
</body>
</html>