<%-include('.././partials/head')%>
        <link href="./css/signUp.css" rel="stylesheet">
    </head>
    <body> 
        <main class="contenedor-todo">
            <div class="contenedor-signup">
                <h1 class="signup">Sign up</h1>
                <form method="POST" action="/user/signup" enctype="multipart/form-data">
                    <label for="imageU" class="imageUlabel">
                        <i class="fas fa-user" id="user"></i>
                        <i class="fas fa-camera" id="camera"></i>
                        <p class="upload">Add photo</p>
                    </label>
                    <input type=file id="imageU" name="imageU" accept="image/*">
                    <div class="contenedor-nombre">
                        <label for="name">
                            <input type="text" name="name" id="name" placeholder="Name" required>
                        </label>
                        <label for="lastname">
                            <input type="text" name="lastname" id="lastname" placeholder="Last Name" required>
                        </label>
                    </div>
                    <div class="contenedor-password">
                        <label for="email">
                            <input type="email" name="email" id="email" placeholder="Email" required>
                        </label>
                        <label for="password">
                            <input type="password" name="password" id="password" placeholder="Password" required>
                        </label>
                    </div>
                    <div class="contenedor-boton">
                        <button type="submit" class="boton-signup">Sign up</button>
                    </div>
                </form>
            </div>
    
        </main>

    </body>
</html>