<%-include('.././partials/head')%>
        <link href="./css/signUp.css" rel="stylesheet">
    </head>
    <body> 
        <main class="contenedor-todo">
            <div class="contenedor-signup">
                <h1 class="signup">Sign up</h1>
                <i class="fas fa-user" id="user"></i>
                <form>
                    <label for="name">
                        <input type="text" name="name" id="name" placeholder="Name">
                    </label>
                    <label for="lastname">
                        <input type="text" name="lastname" id="lastname" placeholder="Last Name">
                    </label>
                    <label for="email">
                        <input type="email" name="email" id="email" placeholder="Email">
                    </label>
                    <label for="password">
                        <input type="password" name="password" id="password" placeholder="Password">
                    </label>
                </form>
                <form>
                    <button type="submit" class="boton-signup">Sign up</button>
                </form>
            </div>
    
        </main>

    </body>
</html>